.navbar {
    background-color: #fff2f5;
    height: 80px;
    color: #537791;
}
.footer {
    background-color: #fff2f5;
    height:30px;
    padding: 10px;
}

.active a {
    background-color: #ffe2e5;
}
.navbar-brand {
    font-weight: bold;
    font-size: x-large;
}
/* stat of pet page css*/
#aboutme{
    float:right;
}
#self-image{
    width: 400px;
    border-style: solid;
}

#self-desc{
    text-align: left;
    align-self: center;
}
.float-container {
    border: 40px solid #fff;
    padding: 20px;
    align-content: center;
}

.float-child-1 {
    width: 30%;
    float: left;
    align-content:center;
    padding: 20px;
}
.float-child-2 {
    width: 70%;
    float:right;
    padding:20px;
}

/* end of petpage css */


/* Styles for the pet card */
.user-pet-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for the pet card content */
.pet-card-content {
    display: flex;
}

/* Styles for the pet image */
.pet-image img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

/* Styles for the pet description */
.pet-description {
    flex-grow: 1;
}

/* Styles for additional information fields */
.pet-info {
    text-align: center;
}
#MoreInfo {
    background-color: #537791;
    border-color: #537791;
    margin-bottom: 15px;
}

/* Create post button */
.create-post-button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50; /* Green color */
    color: white;
    text-decoration: none;
    text-align: center;
}

.no-photo {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: inline-block;
    margin-right: 10px;
}

/* Default page format */
h1{
    padding-top: 5%;
    color: #314a52;
}
