.navbar {
    background-color: #fff2f5;
    height: 80px;
    color: #537791;
}
.footer {
    background-color: #fff2f5;
    height:30px;
}

.active a {
    background-color: #ffe2e5;
}
.navbar-brand {
    font-weight: bold;
    font-size: x-large;
}
/* stat of pet page css*/
#aboutme{
    float:right;
}
#self-image{
    width: 400px;
    border-style: solid;
}

#self-desc{
    text-align: left;
    align-self: center;
}
.float-container {
    border: 40px solid #fff;
    padding: 20px;
    align-content: center;
}

.float-child-1 {
    width: 30%;
    float: left;
    align-content:center;
    padding: 20px;
}
.float-child-2 {
    width: 70%;
    float:right;
    padding:20px;
}

/* end of petpage css */
