.navbar {
    background-color: #fff2f5;
    color: #537791;
}
.footer {
    background-color: #faf2eb;
}
.navbar.active a {
    color:rgb(99, 1, 21);
}
.active {
    background-color: #000000;
}
.navbar-brand {
    font-weight: bold;
    font-size: x-large;
}
/* Styles for my_posts page*/

body{
    background-color: #faf2eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}


.user-pet-card {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-pet-card img {
    width: 40%;
    object-fit: cover;
}

.user-pet-card-content {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-pet-card-content h2,
.user-pet-card-content p {
    margin: 0;
}

.user-pet-card-content p {
    margin-top: 10px;
}

.create-post-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-post-btn:hover {
    background-color: #45a049;
}

/* stat of pet page css*/
#aboutme{
    float:right;
}
#self-image{
    width:300px;
}

#self-desc{
    text-align: center;
    align-self: center;
}
.float-container {
    background-color: pink;
    border: 40px solid #fff;
    padding: 20px;
    align-content: center;
}

.float-child-1 {
    width: 30%;
    float: left;
    align-content:center;
    padding: 20px;
}
.float-child-2 {
    width: 70%;
    float:left;
    padding:20px;
}

/* end of petpage css */
