<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <form action = "/login" method = "post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />

        <label for = "password">Email Address:</label>
        <input type="text" name="password" id="password">
        <button type = "submit">Login</button>
    </form>
  </div>
  <!-- <p>Not registered? <a href="/register">Register here</a></p> -->
</main>

<%- include ('../partials/footer') %>