<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- Display User Data -->
    <h1><center>Your Account Info</center></h1>
  </div>
</main>

<%- include ('../partials/footer') %>