<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>Login</h1>
        <form action ='/login' method ="POST">

            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control form-control-sm" type="text" id="username" name="username"/>
            </div>

            <div class="form-group">
                <label for="hashPW">Password:</label>
                <input class="form-control form-control-sm" type="text" id="hashPW" name="hashPW"/>
            </div>

            <p>Already registered? <a href="/login">Login here</a></p>

            <div >
                <input  type="submit" class="btn btn-primary" value="Login">
            </div>

        </form>
    </div>
</main>


<%- include ('../partials/footer') %>