<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div>
        <div>
            <form action="/login" method="post">
                <h2>Login</h2>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required />

                <label for="hashPW">Password:</label>
                <input type="text" id="hashPW" name="hashPW" placeholder="Enter your password" required />

                <button type="submit">Login</button>
            </form>

            <p>Not registered? <a href="/register">Register here</a></p>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
