<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <h1><center>Post A Pet</center></h1>
  </div>
</main>

<%- include ('../partials/footer') %>