<header>
  <nav class="navbar navbar-expand border-bottom" style="background-color: #fff2f5; height: 80px;" id="navbarnav">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <!-- Website name justified left -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
              <div class="container">
                <a class="navbar-brand" href="/home">
                  <img src="https://raw.githubusercontent.com/Yasi5914/Final_project_3308_team_1/ad5653f404507fbd7678e6fafe67277564f1ce91/All%20Project%20code/src/resources/img/logo.svg" class="img-fluid" alt="Fur-Ever Friend Finder" style="max-height: 60px; max-width: 150px;">
                </a>
              </div>
          </li>
        </ul>
        <!-- Navigation elements justified right -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" id="settings">
            <div class="container">
              <a class = "nav-link" href="/login">Login</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="container">
              <a class = "nav-link" href="/register">Register</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>